@model IEnumerable<PlayPal.MVC.Models.CategoryView>

@{
    ViewBag.Title = "GetAllCategoriesAsync";
}

<h2>Categories</h2>

<p>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("AddNewCategoryAsync")'">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategoryAsync", new { id = item.Id }) |
                @Html.ActionLink("Details", "GetOneCategoryAsync", new { id = item.Id }) |
                @Html.ActionLink("Delete", "HideDeleteCategoryAsync", new { id = item.Id })
            </td>
        </tr>
    }

</table>
